@charset "utf-8";
/* CSS Document */
*{
	/*margin:0px;
	padding:0px;
	*/
	font-family:Arial;
}
h3{
	background-color:#00F;
	color:#FFF;
	padding:5px;
	font-size:14px;
}
p{
	font-size:13px;
	background-color:#F00;
	color:#FFF;
	padding:5px;
}
fieldset{
	font-size:13px;
	border:#999 solid 1px;
	margin-bottom:10px;
}
legend{
	background-color:#000;
	color:#FFF;
	padding:5px;
	font-size:13px;
}
