
/* CSS Document */
#content form#form1
{
	clear: both;
	height:auto;
	width: 500px;
	background-color:#FFFFAA;
	padding: 20px;
	margin-top:20px;
	}
#form1 p
{
	color: #666;
	font-family: Arial;
	padding: 5px;
}
#form1 p input
{
	height: 20px;
	width: 250px;
	border: 1px solid #999;
	text-indent: 2px;
}
#form1 p input[type="submit"]
{
	background-image:url(../image/blue-gradient-background-css-7110.jpg);
	width: 150px;
	height:30px;
	color:#000000;
	cursor: pointer;
}
#form1 p input[type="submit"]:hover
{
	color:#FF3F00;
	font-size:16px;
	background-image:url(../image/circles-green.jpg);
}
#form1 textarea
{
	height: 150px;
	width: 300px;
}


